<launch>

    <!-- mBot bringup -->
    <include file="$(find mbot_bringup)/launch/mbot_bringup.launch"/>

    <!-- Serial node -->
    <include file="$(find mbot_bringup)/launch/mbot_rosserial.launch"/>

    <!-- mbot_controller node -->
    <rosparam file="$(find mbot_bringup)/param/demo_parameters.yaml" />
    <node pkg="mbot_bringup" type="mbot_demo" name="mbot_demo" output="screen" />

    <!-- EMG plotter node -->
    <node pkg ="mbot_bringup" type="emg_plotter.py" name="emg_plotter" output="screen" >
        <env name="LIBGL_ALWAYS_SOFTWARE" value="1" />
    </node>

</launch>
