<launch>

	<!-- mBot bringup -->
    <include file="$(find mbot_bringup)/launch/mbot_bringup.launch"/>

    <!-- Serial node -->
    <include file="$(find mbot_bringup)/launch/mbot_rosserial.launch"/>


    <!-- mbot_controller node -->
    <param name="v_emg02_min" type="double" value="0.0"/>
    <param name="v_emg02_max" type="double" value="0.0"/>
    <node pkg="mbot_bringup" type="mbot_controller" name="mbot_controller" output="screen" />

</launch>
